   <div class="clearfix">
    <%= f.label :name,"问题1：竞猜问答" %>
    <div class="input">
      <%= f.text_field :answer1,:class => "small"  %> 
    </div>
  </div>

<div class="clearfix">
    <%= f.label :name,"问题2：您的职业（单选）" %>
    <div class="input">
      <%= f.text_field :answer1,:class => "small"  %> 
    </div>
  </div>


<div class="clearfix">
    <%= f.label :name,"问题3：电话号码" %>
    <div class="input">
      <%= f.text_field :answer1,:class => "small"  %> 
    </div>
  </div>

<div class="clearfix">
    <%= f.label :name,"问题4：您的e-mail地址" %>
    <div class="input">
      <%= f.text_field :answer1,:class => "small"  %> 
    </div>
  </div>

<div class="clearfix">
    <%= f.label :name,"问题5：兴趣爱好（可复选）" %>
    <div class="input">
      <%= f.text_field :answer1,:class => "small"  %> 
    </div>
  </div>
<%end%>