<!DOCTYPE html>
<html>
  <head>
    <title>Questionnaire</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application",'rails.validations' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="/">问卷调查</a></h3>
          <ul>
            <li><%= link_to "开始测试", new_question_url %></li>
            <li><%= link_to "测试记录", '/' %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top:60px;">
      <% %w(success error info warning).each do |type| -%>
        <% if flash[type.to_sym] %>
          <div class="alert-message <%= type %>"><%= flash[type.to_sym] %><a href="#" class="close">×</a></div>
        <% end %>
      <% end -%>
      <%= yield %>
      <footer>        
        <p>Copyright © 2012-<%=DateTime.now.year%></p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
